
.App{
  background-color: rgb(255,255,255,0.1);
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
  border-radius: 10px;

}
#to-do-form input{
  background-color: rgba(15, 13, 13, 0.507);
  border: 0; 
  height: 50px;
  width: 200px;
  padding:  20px;
  margin: 20px;
  border-radius: 10px;
  font-size: 15px;
  color: white;
  backdrop-filter: blur(10px);
}
#to-do-form input::placeholder{
  color: rgba(255,255,255,0.5);
}
#to-do-form input:focus{
  outline: none;
}
#to-do-form button{
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color: rgb(202, 156, 24);
  cursor: pointer;
  font-weight: bolder;
}
#to-do-form button:focus{
  outline: none;
}
